mixin picture(sourceImage, price, resta)
    div.col-md-4.product-box
        img(src=sourceImage, width="200",height="250")
        h4 Preu:
            b #{price} €

         h4 Unidades restantes:
            b #{resta} und.


